.coolTitle {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 40px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: rgb(167, 26, 1);
    text-shadow:
    -1px -1px 0 rgb(176, 178, 34),
    -2px -2px 0 rgb(85, 3, 3),
    -3px -3px 0 rgb(34, 34, 178),
    -4px -4px 0 rgb(120, 34, 178),
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px firebrick,   
}

.done {
    text-decoration: line-through;
}